<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Aditya Gupta  1MS15IS005
      </p>
      <p>
      Aditya Angadi 1MS15IS004
      </p>
      <p>
      Divya         1MS15IS034
    </p>
  </div>
</section>
